/* Basic code for the entire page */
:root {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
::after,
::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: Roboto, sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Navbar */

.navbar {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.bd-navbar {
  padding: 0;
  background-color: transparent;
  box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.15),
    inset 0 -1px 0 rgba(255, 255, 255, 0.15);
}

.navbar-logo {
  height: 150px;
  width: auto;
  margin-right: 4px;
}

.navbar .navbar-toggler {
  top: 0.25rem;
  right: 1rem;
}

.offcanvas .offcanvas-body .navbar-nav .nav-item .nav-link {
  color: black;
}

.offcanvas .offcanvas-body .navbar-nav .nav-item .nav-link:hover {
  color: #a4872c;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(164, 135, 44)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler .navbar-toggler {
  border-color: rgb(164, 135, 44);
}

.reserve-btn {
  background-color: #a4872c;
  color: white;
  font-weight: bold;
}

.reserve-btn:hover {
  opacity: 0.8;
  background-color: #726023;
  color: white;
}

/* Scroll to top */
.scroll_to_top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2;
}

.scroll_to_top > a > i {
  color: #a4872c;
}

.scroll_to_top > a > i:hover {
  color: #726023;
}

/* Footer */
.list-inline > .list-inline-item > a > i {
  color: #a4872c;
}

.list-inline > .list-inline-item > a > i:hover {
  color: #726023;
}

.list-group > .list-group-item > a {
  color: #a4872c;
}

.list-group > .list-group-item > a:hover {
  color: #726023;
}

.underline-text {
  text-decoration: underline;
}

.logo-footer {
  max-height: 300px;
  width: auto;
}
